body{

    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1{
color: #66BFBF;
font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    }
    h2{
        color: #66BFBF;
        font-weight: normal;
        font-size:2.5rem;
        font-family: 'Montserrat', sans-serif;
    }
    h3{

        font-family: 'Montserrat', sans-serif;
        color:#11999E;
    }
.top-container{

    background-color: aquamarine;
}

.skill-row{

    width: 50%;
    
    position: relative;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.dott{


    border-style: dotted none none;
    border-color :#eaf6f6; 
    
    border-width:5px;
    
    
    width:5%
}
.ski{
    width:25%;
    float:left;
    position: relative;
    margin-bottom: 0px;

   margin-right:30px;
}
.trusmp {
    width:35%;
    float:right;
    position: relative;
    margin-bottom: 0px;

   margin-right:30px;

}
.tecs{
    margin-bottom: 50px;
}

.funny-coder{


}
.football{
    

}
.music{
 
    }
.middle-container {  


}


.footer-link{
    color: #11999E;
}
.btn{
 
        background: #11cdd4;
        background-image : -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin:35px;
}
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }

      .bottom-container{
        word-spacing: 25px;
        background-color: #66BFBF;
      border-top: 10px;
      border-bottom: 0px;
 padding-top: 30px;
 padding-bottom: 30px;
        margin-bottom: 0px;
        margin-top: 50px;
        
      }
.top-cloud{
position: relative;
left: 215px;
top:20px;
    
}
.bottom-cloud{

    position:absolute;
}
.piyus{

    width:25%
}

.last{
    color:white;
}
.contact-me{


}
.last{
    padding-top:40px;
    word-spacing: 5px;
}